.Login,.Register{
  padding: 60px 0;
}
.Login form,.Register form{
  margin: 0 auto;
  max-width: 320px;
}
.Login form > *,.Register form>*{
  margin:5px;
  display:flex;
}
#root{
  display:grid;
  grid-template-areas:"topbar topbar"
                      "sidebar main";
  grid-template-columns:20% 80%;
}