a>img {
    height:70px;
    justify-content:center;
    align-items:center;
}
.Navbar {
    background:#000;
    height:80px;
    display:flex;
    justify-content: space-around;
    z-index:10;
    padding:0.5rem calc((100vw-1000px)/2)
}
a {
    color:#fff;
    display:flex;
    align-items:center;
    text-decoration:none;
    padding:0 1rem;
    height:100%;
    cursor:pointer
}
a.active{
    
}
.NavMenu {
    display:flex;
    align-items:center;
    margin-right: -24px;
    max-width:768px;
    @media screen {
        display:none
    }
}